/**
 * OVERVIEW
 *
 * This project is separated to the following style sheets:
 *
 * normalize.min.css....CSS reset.
 * base.css.............Global rules and helpers.
 * layout.css...........CSS rules that control the layout of the page.
 * components.css.......Own CSS for the components that build up the page.
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Variables............Globally-available variables.
 * Box-sizing...........Better default `box-sizing`.
 * Base font sizes......Setting the base font size.
 * Margins..............Top and bottom margins global values.
 * Anchors..............Implicit link settings.
 *
 * BASE STYLES
 * Headings.............H2, H6 styles.
 * Paragraphs...........Base styles.
 */




/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

/**
 * 1. Variables for the colors used
 
 * 2. A more rezonable model for box-sizing
 *
 * 3. This rule will modify the base font-size,
 * with whom are compared all rem units.
 *
 * 4. Normalize.css sets a margin top and bottom for these elements.
 * In order not to interfere with our layout, this rule will overwrite the margins.
 *
 */





/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  --bg-primary:                  #F4F3F5; /* [1] */
  --bg-secondary:                #FFFFFF;
  --bg-thirdly:                  #F4F3F5;

  --bg-header:                   #6200EA;
  --bg-footer:                   #211138;

  --primary-font-color:          #211138;
  --secondary-font-color:        #6200EA;
  --thirdly-font-color:          #FFFFFF;

  --header-font-color:           #F4F3F5;
  
  --footer-primary-font-color:   #B2ACBA;
  --footer-secondary-font-color: #6200EA;
}





/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* { box-sizing: border-box; } /* [2] */





/*------------------------------------*\
  #FONT SIZES
\*------------------------------------*/

html { font-size: 10px; } /* [3] */

h2 { font-size: 4rem; }

h6 { font-size: 1.2rem; }

p  { font-size: 1.4rem; }





/*------------------------------------*\
  #MARGINS
\*------------------------------------*/

h2, 
h6                          { margin: 0 0 1rem 0; } /* [4] */

p                           { margin: 0 0 2rem 0; }

.contact-info__map,
.contact-info__address,
.contact-info__phone-email  { margin-bottom: 3rem; }

p.footer__copyright         { margin: 0; }





/*------------------------------------*\
  #ANCHORS
\*------------------------------------*/

a { 
  text-decoration: none; /* [5] */
  cursor:          pointer;
 }





/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

body {
  font-family:      "Montserrat", sans-serif;
  color:            var(--primary-font-color);
  background-color: var(--bg-primary);
}

h2 {
  font-weight:      bold;
  line-height:      5rem;
  letter-spacing:   0;
}

h6 {
  font-weight:      bold;
  letter-spacing:   .24rem;
  text-transform:   uppercase;
}

p {
  line-height:      2rem;
  letter-spacing:   0;
}
