/**
 * PREZENTARE GENERALĂ
 *
 * Acest fișier descrie componentele care alcătuiesc site-ul.
 * De la layout-ul interior la culoarea fontului etc.
 *
 * Incercand sa respecte regula BEM (Block–Element–Modifier) din
 * CSS guidelines: https://cssguidelin.es/#bem-like-naming a lui Harry Roberts
 */


/**
 * CONTENTS
 *
 *
 * BUTTONS
 *
 * HEADER
 *
 * NAVIGATION
 *
 * MAIN CONTENT
 *
 * SIDEBAR
 *
 * FOOTER
 */





/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/


/*
 * we make the line-height the same as height in order to have the text vertically aligned
*/







/*------------------------------------*\
  #HEADER
\*------------------------------------*/

/**
 *
 * 1. Folosim acest padding left pentru ca logo-ul să apară în același loc
 * la fel ca în prototipul de design.
 * to keep it in the middle: (100%  - self-width) / 2
 *
 */

 .header {
  background-color: #6200EA;
  height: 80px;
}

.nav__link {
  color:          var(--header-font-color);
  opacity:        65%;
  text-transform: uppercase;
  font-size:      1.2rem;
  line-height:    1.5rem;
  font-weight:    bold;
  initial-letter: .24rem;
  display: inline-block;
}

.nav__link:hover {
  color:    var(--header-font-color);
  opacity:  100%;
}

.nav__link:hover::after {
  content: "";
  height: 4px;
  color: white;
  display: block;
  width: 100%;
}



/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

/**
 * 1. Acest padding este necesar pentru a putea afișa
 * bara mov a efectului hover în locul adecvat.
 */








/*------------------------------------*\
  #MAIN CONTENT
\*------------------------------------*/

/** 
 * 1. fallback background color in case the img can't be loaded.
 * 2. for the last post in list we eliminate the bottom margin.
 */

.main {
  background-color: #F4F3F5;
}

.contact-info,
.contact-form {
  background-color: #fff;
  border: 0px solid black;
  border-radius: 15px;
  overflow: hidden;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.main-footer {
  background-color: var(--bg-footer);
  display:          flex;
  justify-content:  center;
  align-items:      center;
  height:           5rem;
  color:            var(--small-font-color);
  text-transform:   uppercase;
  font-size:        .6rem;
  font-weight:      bold;
  letter-spacing:   .12rem;
  line-height:      .75rem;
}

  .footer-text    { margin-bottom: 0; }
  .important-text { color: var(--secondary-font-color); }