/**
 * OVERVIEW
 *
 * This file sets the layout of the page.
 */ 
 
  
 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items.
 *
 */





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

.layout__item--full-width           { width: 100%; }

.layout__item--50-percent-w-gutter  { width: calc(50% - 1.5rem); }

.layout__item--70-percent-centered { 
  width: 70%; 
  margin: 0 auto;
}

.flex-container   { display: flex; }

.flex-dir-row     { flex-direction: row; }

.flex-dir-column  { flex-direction: column; }

.header__content { 
  justify-content:  space-between;
  height:           100%;
}

.logo { align-self: center; }

.nav__link-container {
  justify-content:  space-between;
  flex-wrap:        wrap;
  width:            25vw;
}
.main { 
  margin:           4rem auto;
  justify-content:  space-between; 
  min-height:       calc(100vh - 8rem);
}