/**
 * PREZENTARE GENERALĂ
 *
 * Acest fișier gestionează schema (layout) website-ului. În loc să seteze
 * schemele componentelor pe rând, creem un sistem separat
 * care are un singur obiectiv—de a spune fiecărui element
 * ce dimensiune trebuie să aibă și unde trebuie să apară.
 */ 
 
 
 
 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items
 * Images...............Floating just the thumbnail images and clearing the float after.
 *
 * GRID GAPS
 * Grid gaps............Whitespaces between columns in grids.
 */





/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

.layout__item--full-width { width: 100%; }

.layout__item--70-percent {
  width: 70%;
  margin: 0 auto;
}

.layout__item--50-percent-w-gutter { width: calc(50% - 1.5rem); }

.flex-container {
  display:          flex;
  align-items:      center;
  justify-content:  center;
}

.flex-dir-column  { flex-direction: column; }

.flex-dir-row     { flex-direction: row; }

.main {
  justify-content: space-between;
}

/*------------------------------------*\
  #IMAGES
\*------------------------------------*/







/*------------------------------------*\
  #GRID GAPS
\*------------------------------------*/

/**
* 1. row gap = 0 and column gap = 1.5rem.
*/

